<!-- Normal triangle -->
<h1>Generator figur</h1>
<p>Generator trójkąta odwróconego</p>
<div>
  <label for="triangleSize">Podaj wielkość trójkąta:</label>
  <input type="number" id="triangleSize" [(ngModel)]="triangleSize" />
  <button (click)="generateTriangle()">Generuj</button>
</div>
<pre>{{ triangle }}</pre>

<!-- Reversed triangle -->
<p>Generator trójkąta odwróconego</p>
<div>
  <label for="reversedTriangleSize">Podaj wielkość trójkąta odwróconego:</label>
  <input type="number" id="reversedTriangleSize" [(ngModel)]="reversedTriangleSize" />
  <button (click)="generateReversedTriangle()">Generuj</button>
</div>
<pre>{{ reversedTriangle }}</pre>